body {
  font-family: Arial;
  background: #eef2f3;
  text-align: center;
}

.box {
  background: white;
  width: 330px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 90%;
  padding: 8px;
  margin: 8px;
}

button {
  background: #2c3e50;
  color: white;
  border: none;
}
